@using MPIntegracion.Models;

@{
    var Productos = (ViewData["Productos"] as List<ProductoDTO>)?? new List<ProductoDTO>();
}
<div class="container">
    <h1>Productos</h1>




    <div class="card-group"> 
        @foreach (var item in Productos)
        {
            <div class="card border border-0">
                
                <div class="card-body">
                    <img src="@item.imagen" width="30px" class="rounded float-start" alt="...">
                    <h5 class="card-title text-seconday p-2 m-2">@item.Titulo
                    </h5>
                    <p class="card-text text-primary">@item.Descripcion</p>
                    <p class="card-text"><h2 class="text-seconday">$AR @item.Precio</h2> final </p>
                    <p>
                        <a href="@item.URL" class="btn btn-primary">Comprar</a>
                    </p>
                </div>
            </div>

        }



    </div>
</div>